<!DOCTYPE html>
<html>
<head>
  <title>Elevator</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="elevator" ng-controller="elevatorController as elevator">

  <div class="container">

    <div class="row text-center" id="title">
      <h1>"This" hotel</h1>
    </div>

    <div class="row">

      <div class="col-sm-6" id="floors">

        <div ng-repeat="floor in elevator.floors | reverse ">
          <div id="doors">doors</div>
          <div id="floor-indicator">{{ floor | floorFilter }}</div>
          <div id="call-buttons">
            <span ng-hide="floor === 9" ng-click="elevator.handleCallButtonPress(floor, true, false)" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-hide="floor === 0" ng-click="elevator.handleCallButtonPress(floor, false, true)" class="glyphicon glyphicon-arrow-down"></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6" id="elevator">

        <div id="floor-indicator">

          <p ng-repeat="floor in elevator.floors track by $index"> {{ $index | floorFilter }} </p>

        </div>

        <div id="up-down-indicator">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="glyphicon glyphicon-arrow-down"></span>
        </div>

        <div id="buttons">
          <div ng-repeat="button in elevator.floors track by $index" id="{{$index}}" ng-click="elevator.handleInElevButtonPress(button)">{{ $index }}</div>
        </div>


      </div>
    </div>
  </div>

</body>
</html>
